.section-4 {
  background: rgb(41, 37, 36);
  background: linear-gradient(
    117deg,
    rgba(41, 37, 36, 1) 11%,
    rgba(107, 56, 38, 1) 50%,
    rgba(238, 83, 30, 1) 100%,
    rgba(238, 174, 202, 1) 292524%
  );
}

.custom-container {
  gap: 6rem;
}
