.button-custom-white {
  background-color: white;
  color: #ee531e;
  border-radius: 1rem;
  border: 2px solid #ee531e;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px #6b6a6a;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #e2e0e0;
  }
}


.button-custom-dark {
  background-color: #2e2e2e;
  color: #fdfdfd;
  border-radius: 1rem;
  border: 2px solid #ee531e;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px #6b6a6a;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #4d4c4c;
  }
}

.button-custom-orange {
  background-color: #ee531e;
  color: white;
  border-radius: 1rem;
  border: 2px solid #ee531e;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px #868585;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #eb754e;
  }
}
