.button-custom-white {
  background-color: white;
  color: #ee531e;
  border-radius: 1rem;
  border: 2px solid #ee531e;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px #6b6a6a;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #e2e0e0;
  }
}

.button-custom-dark {
  background-color: #2e2e2e;
  color: #fdfdfd;
  border-radius: 1rem;
  border: 2px solid #ee531e;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px #6b6a6a;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #4d4c4c;
  }
}

.button-custom-orange {
  background-color: #ee531e;
  color: white;
  border-radius: 1rem;
  border: 2px solid #ee531e;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px #868585;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #eb754e;
  }
}

.button-custom-google-dark {
  background-color: white;
  color: white;
  position: relative;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 20px; /* 🔹 Bordes redondeados */
  background: linear-gradient(#2e2e2e, #2e2e2e) padding-box,
    linear-gradient(90deg, #4285f4, #ea4335, #fbbc05, #34a853) border-box;
  font-weight: bold;
  box-shadow: 0 2px 4px #6b6a6a;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #4d4c4c;
  }
}

.button-custom-google {
  background-color: white;
  color: #ee531e;
  position: relative;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 20px; /* 🔹 Bordes redondeados */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #4285f4, #ea4335, #fbbc05, #34a853) border-box;
  font-weight: bold;
  box-shadow: 0 2px 4px #6b6a6a;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #e2e0e0;
  }
}

.button-custom-lang {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.2);
  }
}
