h1 {
  font-size: clamp(2rem, 2.5vw + 1rem, 4rem) !important;
  font-weight: bold !important;
}

.section-1 {
  p {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  @media (width >= 1220px) {
    p {
      font-size: 1.5rem;
    }
  }
  .custom-badge {
    background-color: #ee531e;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 100%;
    margin-top: 1rem;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 48%;
    top: 11%;
    transition: all 0.3s ease;
    transform: rotate(-25deg);
    &:hover {
      border: 2px solid #ee531e;
      color: #ee531e;
      background-color: white;
    }
    p {
      font-weight: bold;
      margin: 0;
    }
  }
}

span {
  color: #ee531e;
}

@media (width <= 990px) {
  .section-1 {
    .custom-badge {
      background-color: #ee531e;
      position: absolute;
      top: 25%;
      left: -5%;
    }
  }
}

@media (width <= 766px) {
  .section-1 {
    .custom-badge {
      background-color: #ee531e;
      position: absolute;
      top: 20%;
      left: -5%;
    }
  }
}

@media (width <= 476px) {
  .section-1 {
    .custom-badge {
      background-color: #ee531e;
      position: absolute;
      width: 100px;
      height: 100px;
      top: 20%;
      left: 10%;
    }
  }
}
