.main-user {
  background-color: #FDFDFD;
  display: flex;
  padding-block: 6rem;
}

.header-user {
  background-color: #FDFDFD;
  nav {
    article {
      img {
        width: 200px;
        pointer-events: none;
        user-select: none;
      }
    }
  }
}