.main-user {
  background-color: #fdfdfd;
  display: flex;
  padding-block: 6rem;
}

@media (width <= 768px) {
  .main-user {
    padding-block: 2rem;
  }
}

.custom-shadow {
  box-shadow: 0 0 10px 1px rgba(102, 101, 101, 0.75);
}
.header-user {
  background-color: #fdfdfde5;
  position: sticky;
  top: 0;
  z-index: 100;
  div {
    img {
      width: 200px;
      user-select: none;
      cursor: pointer;
      @media (width <= 768px) {
        width: 150px;
      }

      @media (width <= 576px) {
        width: 100px;
      }
    }
  }
  nav {
    article {
      p {
        margin: 0;
      }
    }
  }
}

@media (width <= 578px) {
  .custom-shadow {
    box-shadow: none;
  }
}
