.main-admin {
  background-color: #EAEAEA;
  display: flex;
  padding-block: 6rem;

}
.dashboard-header {
  background-color: #EAEAEA;
  nav {
    article {
      img {
        width: 200px;
        pointer-events: none;
        user-select: none;
        @media (width <= 768px) {
          width: 150px;
        }
        @media (width <= 576px) {
          width: 100px;
        }
      }
    }
  }
}